@media (max-width: 1000px) {
    #bio{
        flex-direction: column;
        height: fit-content;
    }

    #bioPic{
        width: 50%;
    }
    .skills{
        height: 20%;
        width: 100%;
        margin-bottom: calc(var(--vh, 1vh) * 10);
        margin-top: calc(var(--vh, 1vh) * 2);
    }

    .skillLi {
        width: 100% ;
        height: 5vh;
        padding-top: 1vh;
    }

    #resumeDownload{
        height: calc(var(--vh, 1vh) * 10);
        width: 100%;
        left: 0;
        bottom: -3vh;
        
    }

    #resumeDownload a{
        font-size: calc(var(--vh, 1vh) * 3);
    }

}