*{

    font-family: var(--textLandFont);
}

:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

#contentContainer{
    padding-top: 3vh;
}

#bio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 4vh;
    width: 80vw;
    height: 80vh;
}

.skills{
    height: 100%;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: white;
}

#skillList {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.skillLi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--mainLandFont);
    color: rgba(68, 68, 68, 0.8);
    font-size: x-large;
    width: 100% ;
    height: 12%;
    padding-top: 5%;
    border: thin solid rgba(68, 68, 68, 0.6);
    border-radius: 2vh;
    margin-bottom: 1vh;
    transition: 0.4s;
}

.skillLi:hover{
    height: 15vw;
    z-index: 1;
}

.downArrow{
    transition: 1s;
    color: cornflowerblue;
}

.skillLi:hover .downArrow{
    transition: 1s;
    display: none;
}

#skill1 li{
    opacity: 0;
    border: none;
    list-style: none;
    font-family: var(--textLandFont);
    margin-top: 2vh;
    z-index: -1;
}

#skillList li:hover #skill1 li{
    opacity: 1;
    transition: 0.3s;
}

#biography{
    width: 100%;
    height: 85%;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#biography p{
    font-size: x-large;
    text-align: left;
}

#bioPic{
    width: 25%;
    overflow: hidden;
    border-radius: 50%;
}

#resumeDownload{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    bottom: 0;
    left: 24%;
    position: absolute;
    margin: auto;
    height: 10%;
    width: 24%;
    background-color: cornflowerblue;
    transition: 0.3s;
    border: thin solid rgba(68, 68, 68, 0.6);
}

#resumeDownload:hover{
    background-color: rgba(100, 149, 237, 0.5);
    cursor: pointer;
}