*{

    font-family: var(--textLandFont);
}

:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

#contentContainer{
    padding-top: 3vh;
}

#aboutHead{
    font-family: var(--mainLandFont);
    font-size: calc(var(--vh, 1vh) * 6);
}

#bio{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 4vh;
    width: 80vw;
    height: 80vh;
}

#personalValues li{
    text-align: left;
    font-family: var(--textLandFont);
    font-style: italic;
    font-size: x-large;
    border: thin solid black;
    border-radius: 1rem;
    margin-top: 2vh;
    padding: 1vh;

}

.skills{
    height: 85%;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: white;
}

#skillList {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

.skillLi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--mainLandFont);
    color: rgba(68, 68, 68, 0.8);
    font-size: 180%;
    width: 100% ;
    height: 10vh;
    padding-top: 5vh;
    border: thin solid rgba(68, 68, 68, 0.6);
    border-radius: 2vh;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
}

.skillLi:hover{
    color: white;
    background-color: rgb(22, 79, 155);
}

.downArrow{
    transition: 1s;
    color: rgb(22, 79, 155);
    font-size: calc(var(--vh, 1vh) * 4);
    margin-top: calc(var(--vh, 1vh) * -1);
}

.skillContent{
    font-size: x-large;
    display: none;
    opacity: 0;
    z-index: -1;
    padding-left: 2vw;
    list-style: disc;
}

.skillContent li{
    border: none;
    list-style: none;
    font-family: var(--textLandFont);
    margin-top: 2vh;
    z-index: -1;
}

#biography{
    width: 100%;
    height: 85%;
    background-color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    overflow-x: hidden;
    overflow-y: auto;
}

#biography p{
    font-size: x-large;
    text-align: left;
}

#bioPic{
    width: 25%;
    overflow: hidden;
    border-radius: 50%;
}

#jobPos{
    font-size: 90%;
    color: rgb(22, 79, 155);
    transition: 0.3s;
}

.skillLi:hover #jobPos{
    color: white;
}

#resumeDownload{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    bottom: 0;
    left: 21%;
    position: absolute;
    margin: auto;
    height: 12%;
    width: 30%;
    background-color: rgb(22, 79, 155);
    transition: 0.3s;
    border: thin solid rgba(68, 68, 68, 0.6);
}

#resumeDownload a{ 
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

#resumeDownload:hover{
    background-color: rgba(22, 79, 155, 0.5);
    cursor: pointer;
}