:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

#contentContainer{
    display: flex;
    flex-direction: row;
}
#contactLinks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    height: 79vh;
    width: calc(var(--vw, 1vw) * 20);
    min-width: 280px;
    padding-top: 3vh;
    background-color: rgb(22, 79, 155);
}

#gitDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 250px;
    margin-top: 3vh;
    border-radius: 1rem;
    border: thin solid white;
    transition: 0.3s;
}

#gitDiv:hover{
    cursor: pointer;
    background-color: rgba(65, 65, 65, 0.8);
    border-width: medium;
}

#gitLink{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gitLink img{
    width: 95%;
}

#contactText{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(var(--vw, 1vw) * 70);
    height: 80vh;
}

#contactHeader{
    margin-top: 3vh;
    font-family: var(--mainLandFont);
    font-size: 8vh;
}

#formText{
    margin-top: 3vh;
    width: 70%;
}

#messageButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    width: 50%;
    height: 20%;
    border: thick dashed rgba(65, 65, 65, 0.2);
    color: rgba(65, 65, 65, 0.4);
    font-size: xx-large;
    border-radius: 1rem;
    transition: 0.3s;
}

#messageButton:hover{
    background-color: rgba(65, 65, 65, 0.1);
    color: black;
    cursor: pointer;
    border-width: thick;
}

#contactFormContainer{
    position: absolute;
    width: calc(var(--vw, 1vw) * 60);
    height: 79vh;
    background-color: white;
    top: 0;
    left: calc(var(--vw, 1vw) * 7.5);
    border: 0.5vh solid rgb(22, 79, 155);
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}

#contactFormContainer p{
    margin-left: 90%;
    font-size: 5vh;
    height: 6vh;
    transition: 0.3s;
    background-color: white;
}

#contactFormContainer p:hover{
    color: rgb(22, 79, 155);
    cursor: pointer;
}

#iframeForm{
    height: 72vh;
    width: 100%;
}