:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

#contactForm{
    margin: 0;
    height: 96vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.formInputs{
    text-align: center;
    border: thin solid black;
    border-radius: 0.5rem;
    padding-inline-start: 1rem;
    font-size: 4vh;
    margin-bottom: 1vh;
    color: rgba(65, 65, 65, 0.4);
}

#messageBox{
    width: 90%;
    height: 60vh;
}

#submitButton{
    cursor: pointer;
    font-family: var(--mainLandFont);
    color: white;
    text-decoration: none;
    background-color: rgb(22, 79, 155);
    width: 30%;
    height: 8vh;
    transition: 0.3s;
    font-size: 4vh;
}

#submitButton:hover{
    background-color: rgba(65, 65, 65, 0.8);
    border-width: medium;
}