@media (max-width: 1000px) {
    #splashText{
        font-size: calc(var(--vh, 1vh) * 10);
    }
    
    #splashLoad{
        font-size: calc(var(--vw, 1vw) * 5);
    }

    #contentContainer{
        height: calc(var(--vh, 1vh) * 82);;
    }

    #siteDescription{
        height: 0;
    }

    h1{
        display: none;
    }

    #mobileWIP{
        display: block;
    }

    #titleBackdropLeft {
        display: none;
    }
    
    #titleBackdropRight {
        display: none;
    }

    #pictureCarousel{
        height: calc(var(--vh, 1vh) * 88);
    }

    img{
        height: calc(var(--vh, 1vh) * 88);
    }

    .arrows{
        width: calc(var(--vw, 1vw) * 10);
    }
    footer{
        display: none;
    }
}