@media (max-width: 1000px) {
    nav {
        display: none;
    }
    header{
        width: calc(var(--vw, 1vw) * 100);
    }
    #pageLogo{
        align-items: center;
    }

    #splashText{
        font-size: calc(var(--vh, 1vh) * 10);
    }
    
    #splashLoad{
        font-size: calc(var(--vw, 1vw) * 5);
    }

    #contentContainer{
        height: calc(var(--vh, 1vh) * 82);;
    }

    h1{
        display: none;
    }

    #titleBackdropLeft {
        border-top: calc(var(--vh, 1vh) * 14) solid rgba(54, 82, 129, 0.671);
        border-right: calc(var(--vh, 1vh) * 4) solid transparent;
    }
    
    #titleBackdropRight {
        border-bottom: calc(var(--vh, 1vh) * 14) solid rgba(54, 82, 129, 0.671);
        border-left: calc(var(--vh, 1vh) * 4) solid transparent;
    }

    #pictureCarousel{
        height: calc(var(--vh, 1vh) * 88);
    }

    img{
        height: calc(var(--vh, 1vh) * 88);
    }

    .arrows{
        width: calc(var(--vw, 1vw) * 10);
    }
    footer{
        display: none;
    }
}