
#contentContainer{
    height: 80vh;
    overflow: hidden;
}

#homeDescription{
    text-align: center;
}

#pictureCarousel{
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    position: absolute;
    top: 0;
    text-align: center;
    background-image: url(./slides1.jpg);
    background-position: center;
    background-size: cover;
    height: 84vh;
    width: 100%;
    z-index: -1;
}

#slideshow{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.arrows{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    height: 20%;
    width: 3vw;
    background-color: black;
    font-size: 6vh;
    font-weight: bolder;
    opacity: 0.3;
    transition: 0.3s;
}

.arrows:hover{
    border-radius: 0;
    opacity: 0.8;
    transition: 0.3s;
}

#siteDescription{
    display: flex;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: auto;
    font-size: x-large;
    z-index: 1;
}

#leftArrow{
    left: 0;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

#leftArrow:hover{
    border-radius: 0;
}

#rightArrow:hover{
    border-radius: 0;
}

#rightArrow{
    right: 0;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

#titleBackdropLeft {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 14vh solid rgba(54, 82, 129, 0.671);
    border-right: 14vh solid transparent;
    animation-fill-mode: forwards;
  }

  #titleBackdropRight {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 14vh solid rgba(54, 82, 129, 0.671);
    border-left: 14vh solid transparent;
    animation-fill-mode: forwards;
  }