#splashScreen{
    height: calc(var(--vh, 1vh) * 100);
    width: calc(var(--vw, 1vw) * 100);
    position: absolute;
    background-color: white;
    top: 0;
    transition: 0.5s;
    z-index: 1000000;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splashText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--vh, 1vh) * 10);
    color: rgba(22, 79, 155, 0.7);
    transition: 0.5s;
}

#splashLoad{
    margin-top: calc(var(--vh, 1vh) * 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--vw, 1vw) * 2);
    color: rgba(65, 65, 65, 0.5);
    transition: 0.5s;
}

#splashSpinner{
    margin-top: calc(var(--vh, 1vh) * 8);
    border: calc(var(--vh, 1vh) * 0.5) solid #f3f3f3;
    border-radius: 50%;
    border-top: calc(var(--vh, 1vh) * 0.5) solid rgba(65, 65, 65, 0.5);
    width: calc(var(--vw, 1vw) * 4);
    height: calc(var(--vw, 1vw) * 4);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#contentContainer{
    height: calc(var(--vh, 1vh) * 80);
    overflow: hidden;
    background-color: rgba(22, 79, 155, 0.4);
    padding-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeDescription{
    text-align: center;
}

#pictureCarousel{
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    position: absolute;
    top: 0;
    text-align: center;
    background-image: none;
    background-position: center;
    background-size: cover;
    height: calc(var(--vh, 1vh) * 84);;
    width: 100%;
    z-index: -1;
}

#slideshow{
  height: 100%;
  width: 100%;
  z-index: 0;
}

.arrows{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    height: 20%;
    width: calc(var(--vw, 1vw) * 3);
    background-color: black;
    font-size: calc(var(--vh, 1vh) * 6);
    font-weight: bolder;
    opacity: 0.3;
    transition: 0.3s;
}

.arrows:hover{
    border-radius: 0;
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
}

#siteDescription{
    display: flex;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: auto;
    font-size: x-large;
    z-index: 1;
}

#leftArrow{
    left: 0;
    border-top-right-radius: calc(var(--vh, 1vh) * 2);
    border-bottom-right-radius: calc(var(--vh, 1vh) * 2);
}

#leftArrow:hover{
    border-radius: 0;
}

#rightArrow:hover{
    border-radius: 0;
}

#rightArrow{
    right: 0;
    border-top-left-radius: calc(var(--vh, 1vh) * 2);
    border-bottom-left-radius: calc(var(--vh, 1vh) * 2);
}

#titleBackdropLeft {
    position: absolute;
    top: calc(- (var(--vh, 1vh) * 14)/2);
    left: 0;
    border-top: calc(var(--vh, 1vh) * 14) solid rgba(255, 255, 255, 0.6);
    border-right: calc(var(--vh, 1vh) * 14) solid transparent;
    animation-fill-mode: forwards;
  }
  

  #titleBackdropRight {
    position: absolute;
    top: calc(- (var(--vh, 1vh) * 14)/2);
    right: 0;
    border-bottom: calc(var(--vh, 1vh) * 14) solid rgba(255, 255, 255, 0.6);
    border-left: calc(var(--vh, 1vh) * 14) solid transparent;
    animation-fill-mode: forwards;
  }