#splashScreen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: white;
    top: 0;
    transition: 0.5s;
    z-index: 1000000;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splashText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20vh;
    color: rgba(54, 82, 129, 0.671);
    transition: 0.5s;
}

#splashLoad{
    margin-top: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: rgba(65, 65, 65, 0.5);
    transition: 0.5s;
}

#spinnerDiv{
    position: relative;
    height: 4vw;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

#splashSpinner{
    margin-top: 0;
    position: absolute;
    top: -0.5vh;
    border: 0.5vh solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.5vh solid rgba(65, 65, 65, 0.5);
    width: 4vw;
    height: 4vw;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#contentContainer{
    height: 80vh;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
}

#homeDescription{
    text-align: center;
}

#pictureCarousel{
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
    position: absolute;
    top: 0;
    text-align: center;
    background-image: none;
    background-position: center;
    background-size: cover;
    height: 84vh;
    width: 100%;
    z-index: -1;
}

#slideshow{
  height: 100%;
  width: 100%;
  z-index: 0;
}

.arrows{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    height: 20%;
    width: 3vw;
    background-color: black;
    font-size: 6vh;
    font-weight: bolder;
    opacity: 0.3;
    transition: 0.3s;
}

.arrows:hover{
    border-radius: 0;
    opacity: 0.8;
    transition: 0.3s;
}

#siteDescription{
    display: flex;
    align-items: center;
    height: 80%;
    width: 80%;
    margin: auto;
    font-size: x-large;
    z-index: 1;
}

#leftArrow{
    left: 0;
    border-top-right-radius: 2vh;
    border-bottom-right-radius: 2vh;
}

#leftArrow:hover{
    border-radius: 0;
}

#rightArrow:hover{
    border-radius: 0;
}

#rightArrow{
    right: 0;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

#titleBackdropLeft {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 14vh solid rgba(54, 82, 129, 0.671);
    border-right: 14vh solid transparent;
    animation-fill-mode: forwards;
  }

  #titleBackdropRight {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 14vh solid rgba(54, 82, 129, 0.671);
    border-left: 14vh solid transparent;
    animation-fill-mode: forwards;
  }