@font-face {
    font-family: 'LoadingText';
    src: url("./Nunito-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--textLandFont);
}

body{
    display: none;
}

:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

::-webkit-scrollbar {
    width: calc(var(--vw, 1vw) * 0.7);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: calc(var(--vw, 1vw) * 1);
}
::-webkit-scrollbar-thumb {
    background: rgba(68, 68, 68, 0.6);
    border-radius: calc(var(--vw, 1vw) * 1);
}

    p{
        font-family: var(--textLandFont);
    }

    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        top: 0;
        left: 0;
        width: calc(var(--vw, 1vw) * 50);
        height: calc(var(--vh, 1vh) * 12);
    }

    #mobileNav{
        display: none;
    }

    nav ul{
        background-color: white;
        width: calc(var(--vw, 1vw) * 50);
    }

    nav  a {
        text-decoration: none;
        color: black;
        font-family: var(--textLandFont);
    }

    nav li{
        position: relative;
        cursor: pointer;
        border-bottom: thin solid transparent;
        font-size: calc(var(--vw, 1vw) * 2);
    }

    .navUnder{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-bottom: thin solid rgb(22, 79, 155);
        transition: 0.4s;
        z-index: -1;
    }

    nav li:hover .navUnder{
        width: 100%;
    }

    #transitionWindow{
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--vw, 1vw) * 7);
        color: rgba(68, 68, 68, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #transitionPar{
        font-family: Arial, Helvetica, sans-serif;
    }

    #loadingText{
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(var(--vw, 1vw) * 3);
    }

    #contentContainer{
        position: relative;
        padding-top: calc(var(--vh, 1vh) * 6);
    }

    #pageLogo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.3);
        padding-left: calc(var(--vw, 1vw) * 1);
    }

    #logoTitle{
        font-family: var(--mainLogoFont);
        letter-spacing: calc(var(--vh, 1vh) * 1.3);
        font-size: calc(var(--vh, 1vh) * 6);
    }

    #mainTitle{
        position: relative;
        font-family: var(--mainLandFont);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        color: white;
        margin-top: calc((var(--vh, 1vh) * 40) - (var(--vh, 1vh) * 14)/2);
        margin-bottom: calc(var(--vh, 1vh) * 2);
        height: calc(var(--vh, 1vh) * 28);
        width: calc(var(--vw, 1vw) * 80);
        z-index: 1000;
        font-size: calc(var(--vw, 1vw) * 3);
    }

@media (max-width: 1000px){
    header{
        width: calc(var(--vw, 1vw) * 90);
        margin-left: calc(var(--vw, 1vw) * 10);
    }

    #pageLogo{
        align-items: center;
        width: 90%;
    }

    #logoTitle{
        letter-spacing: calc(var(--vw, 1vw) * 1.3);
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
    }

    #mobileNav{
        position: absolute;
        top: calc(var(--vh, 1vh) * 2);
        left: 0;
        display: block;
        width: calc(var(--vh, 1vh) * 8);
        height: calc(var(--vh, 1vh) * 8);
    }

    #mobileNavIcon{
        height: 100%;
        font-size: calc(var(--vh, 1vh) * 6);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul{
        width: calc(var(--vw, 1vw) * 0);
        background-color: white;
        left: 0;
        transition: 0.25s;
    }
    nav li{
        font-size: calc(var(--vh, 1vh) * 3);
    }

    nav li span{
        display: none;
        transition: 1s;
        opacity: 0;
    }

    #mainTitle{
        margin-top: 0;
        margin-bottom: 0;
        font-size: calc(var(--vh, 1vh) * 6);
        height: 100%;
        font-family: var(--textLandFont);
    }

    #siteDescription{
        height: 0;
    }
}