@font-face {
    font-family: 'LoadingText';
    src: url("./Nunito-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--textLandFont);
}

body{
    display: none;
}

:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

::-webkit-scrollbar {
    width: 0.7vw;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 1vw;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(68, 68, 68, 0.6);
    border-radius: 1vw;
  }

p{
    font-family: var(--textLandFont);
}

nav ul{
    background-color: white;
}

nav  a {
    text-decoration: none;
    color: black;
    font-family: var(--textLandFont);
}

nav li{
    position: relative;
    cursor: pointer;
    border-bottom: thin solid transparent;
}


.navUnder{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: thin solid cornflowerblue;
    transition: 0.4s;
    z-index: -1;
}

nav li:hover .navUnder{
    width: 100%;
}

#transitionWindow{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vw;
    color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#transitionPar{
    font-family: Arial, Helvetica, sans-serif;
}

#loadingText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

#contentContainer{
    position: relative;
    padding-top: 6vh;
}

#pageLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
}

#logoTitle{
    font-family: var(--mainLogoFont);
    letter-spacing: 1.3vh;
    font-size: 6vh;
}

#mainTitle{
    position: relative;
    font-family: var(--mainLandFont);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 2vh;
    height: 14vh;
    width: 80vw;
    z-index: 1000;
    font-size: 3vw;
}