:root{
    --mainLandFont: 'Fjalla One', sans-serif;
    --textLandFont: 'Nunito', sans-serif;
    --mainLogoFont: 'Six Caps', sans-serif;
    --textLogoFont: 'PT Serif', serif;
}

#contentContainer{
    padding-top: 0;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80vh;
    width: 80vw;
    margin: auto;
}

.projects{
    position: relative;
    width: 40%;
    height: 40%;
    margin: 3%;
    background-color: cornflowerblue;
    cursor: pointer;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}
.projects p{
    z-index: 1;
}
.projects:hover .backgroundShield{
    background-color: rgba(0, 0, 0, 0.3);
}

.backgroundShield{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    border-radius: 1vh;
    transition: 0.3s;
}

#portfolio{
    background-image: url(./websiteThumb.png);
    background-position: top;
    background-size: cover;
}

#cityDistricts{
    background-image: url(./districtsThumb.png);
    background-position: top;
    background-size: cover;
}

#mentorConnect{
    background-image: url(./mentorConnectThumb.png);
    background-position: top;
    background-size: cover;
}